/* mobile size responsive */

@media (max-width: 576px) {
    /* header section resposive */
    .nav-menu ul {
        display: none;
    }
    .nav-logo h2 {
        font-size: 2.6rem;
    }
    .nav-menu .menu-icon {
        display: block;
        color: #fff;
        font-size: 2rem;
        margin-top: -1.4rem;
    }
    /* banner section */
    .banner-section {
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }
    .banner-left {
        padding-top: 0rem;
        width: 100%;
    }
    .banner-left h1 {
        font-size: 3.6rem;
        margin: -2.6rem 0;
        margin-bottom: 2rem;
    }
    .banner-left p {
        font-size: 1.4rem;
    }
    .banner-l-btn {
        display: flex;
    }
    .banner-l-btn .banner-left-btn,
    .banner-l-btn .banner-right-btn {
        font-size: .8rem;
        font-weight: 400;
        line-height: 1.2rem;
    }
    .banner-right-img img {
        width: 16.9rem;
        height: 12.0rem;
        top: 0rem;
        left: 5rem;
    }
    .banner-right {
        margin-top: 2rem;
        width: 100%;
        height: 58.8rem;
    }
    .banner-right-img img {
        width: 18.9rem;
        height: auto;
        top: -2rem;
        left: 3rem;
        position: absolute;
    }
    .banner-right .banner-box-right{
        position: absolute;
        left: 13.7rem;
        top: -1rem;
    }
    .banner-right .banner-box-left{
        padding-left: 1.4rem;
        padding-top: 1.6rem;
        top: 13rem;
        left: 0rem;
    }
    .banner-right .banner-box-right{
        padding-left: .8rem;
    }
    .banner-right .banner-box-right,
    .banner-right .banner-box-left {
        width: 12.3rem;
        height: 6.5rem;
    }
    .banner-right .banner-box-right h2,
    .banner-right .banner-box-left h2 {
        font-size: 1.6rem;
        line-height: 0.1rem;
        letter-spacing: .01rem;
        margin-top: .8rem;
        margin-bottom: .2rem;
    }
    .banner-right .banner-box-right span,
    .banner-right .banner-box-left span {
        font-size: .8rem;
        line-height: 1.4rem;
        letter-spacing: .0.8rem;
    }
    .banner-box-left .box-circle {
        width: 2rem;
        height: 2rem;
        margin-top: .5rem;
    }
    /* habits change section */
    main .habits-section {
        padding: 20rem 0;
        overflow: hidden;
    }
    .c-habits .c-habits-text h2 {
        font-size: 2.4rem;
    }
    .c-habits-profile {
        display: grid;
        grid-template-columns: repeat(1fr);
        gap: 1.4rem;
        text-align: center;
    }
    main .habits-section {
        padding-bottom: 2rem;
    }
    /* run extra responsive */
    .run-extra-content {
        flex-direction: column;
        gap: 1rem;
        margin-top: -2rem;
    }
    .run-extra-text h3 {
        font-size: 2.8rem;
    }
    .run-extra-text p {
        font-size: 1.2rem;
    }
    .run-extra-img img {
        width: 18.6rem;
        height: 16.2rem;
    }
    /* training and exercises responsive */
    .train-exercise-text h3 {
        font-size: 2.8rem;
    }
    .train-exercise-text p {
        font-size: 1.2rem;
    }
    .train-frist-row,
    .train-second-row {
        grid-template-columns: repeat(2, 1fr);
    }
    .train-frist-row img,
    .train-second-row img {
        width: 100%;
        height: 15rem;
    }
    .train-frist-row .train-exercise-transform span {
        top: 2rem;
        margin-left: 1.4rem;
    }
    .train-frist-row .train-exercise-achieve span {
        top: 8rem;
        margin-left: 2.4rem;
    }
    .train-frist-row .train-exercise-health span {
        top: 17rem;
        margin-left: 0.4rem;
    }
    .train-exercise-customize span {
        top: -7rem;
        left: 3rem;
    }
    .train-exercise-strength span {
        top: 3rem;
        left: 25rem;
    }
    .train-exercise-fitness span {
        top: -4rem;
        left: 3rem;
    }
    .train-exercise-achieve,
    .train-exercise-customize {
        grid-column: span 1;
    }
    .train-frist-row {
        flex-direction: column;
    }
    .caculator-form-section {
        width: 100%;
        height: auto;
    }
    .calculator-section {
        flex-direction: column;
        gap: 1rem;
    }
}