@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primary-color: rgb(225,225,225);
    --secondary-color: rgba(225,225,225,0.5);
    --tartiary-color: rgb(230, 83, 60);
}
html {
    font-size: 60.5%;
    scroll-behavior: smooth;
}
body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    text-rendering: optimizeLegibility;
    line-height: 1.1;
    font-size: 1.6rem;
    background: #000;
}
ul li {
    list-style-type: none;
    text-decoration: none;
}
.focus {
    outline: 0;
}
.row {
    max-width: 80%;
    margin: 0 auto;
}
section {
    padding: 3rem 0;
    color: #fff;
}
.btn,
.btn:link,
.btn:visited {
    background: #ff42a5;
    border: none;
    color: #fff;
    text-decoration: none;
    border-radius: 3rem;
    margin-top: 4rem;
    font-size: 1.6rem;
    padding: 1.5rem 3rem;

}
/* header section */
header .bg-header {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, rgb(17,17,17), rgba(119,119,119, 0));
}
header .nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}
.nav-logo h2 {
    width: 13.4rem;
    height: 4.3rem;
    color: var(--tartiary-color);
    font-family: Inter;
    font-size: 3.6rem;
    font-weight: 800;
}
.nav-menu .menu-icon {
    display: none;
}
.nav-menu ul {
    display: flex;
    gap: 4.7rem;
}
.nav-menu ul li {
    align-items: center;
}
.nav-menu ul li a {
    text-decoration: none;
    color: var(--primary-color);
    font-family: Inter;
    font-size: 1.8rem;
    font-weight: 400;
}
.nav-menu .active {
    background-color: var(--tartiary-color);
    padding: .8rem 2rem;
    border-radius: 4.3rem;
}
/* banner section */
.banner-section {
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
    width: 39.3rem;
    height: 102.4rem;
}
.banner-left {
    padding-top: 6rem;

}
.banner-left h1 {
    color: var(--primary-color);
    font-family: Inter;
    font-size: 4.8rem;
    font-weight: 900;
    text-align: left;
    margin: 2.4rem 0;
}
.banner-left h1 span {
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
}
.banner-left p {
    color: var(--secondary-color);
    font-family: Inter;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.4rem;
    text-align: left;
    margin: 1.8rem 0;
    margin-bottom: 3rem;
}
.banner-l-btn .banner-left-btn,
.banner-l-btn .banner-right-btn {
    color: var(--primary-color);
    font-family: Inter;
    background:  var(--tartiary-color);
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 2.2rem;
    text-align: left;
    padding: 1.2rem 3rem;
    border-radius: 3.2rem;
    border: none;
}
.banner-l-btn .banner-left-btn {
    margin-right: 1rem;
}
.banner-l-btn .banner-right-btn {
    background: transparent;
    border: 1px solid rgb(225,225,225);
}
.banner-right {
    position: relative;
}
.banner-right-img img {
    width: 34.9rem;
    height: 58rem;
    top: -6rem;
    left: 18.7rem;
    position: absolute;
}
.banner-right .banner-box-right,
.banner-right .banner-box-left {
    width: 17.3rem;
    height: 9.3rem;
    position: absolute;
    border: .1rem solid rgba(225,255,255,0.1);
    border-radius: 1.2rem;
    backdrop-filter: blur(2rem);
    background: rgba(225,225,225,0.1);
    padding-left: 2.4rem;
    padding-top: 1.6rem;
    text-align: left;
}
.banner-right .banner-box-right{
    position: absolute;
    left: 39.7rem;
    top: 6rem;
}
.banner-right .banner-box-left {
    position: absolute;
    top: 36rem;
    left: 16rem;
    border: 1px solid var(--secondary-color);
    backdrop-filter: blur(2rem);
    background: rgba(48,48,48,0.54);
    padding-left: 2.4rem;
    padding-top: 1.6rem;
    text-align: left;
}
.banner-right .banner-box-right h2,
.banner-right .banner-box-left h2 { 
    color: var(--primary-color);
    font-family: Inter;
    font-size: 3.6rem;
    font-weight: 900;
    line-height: 4rem;
    letter-spacing: .1rem;
    text-align: left;
}
.banner-right .banner-box-right span,
.banner-right .banner-box-left span {
    color: rgba(225,225,225,0.6);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2rem;
    letter-spacing: .1rem;
}
.banner-box-left {
    display: flex;
    gap: .8rem;
}
.banner-box-left .box-circle {
    width: 2.8rem;
    height: 2.8rem;
    background: rgb(230, 83, 60);
    border-radius: 50%;
    margin-top: 2.2rem;
}
/* main section responsive */
main .habits-section {
    padding: 4rem 0;
}
main .c-habits {
    color: #fff;
}
.c-habits .c-habits-text h2 {
    color: var(--primary-color);
    font-family: Inter;
    font-size: 3.8rem;
    font-weight: 900;
    text-align: center;
    margin: 2rem 0;
}
.c-habits .c-habits-text p {
    color: var(--secondary-color);
    font-family: Inter;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: .03rem;
    text-align: center;
    margin-bottom: 1.5rem;
}
.c-habits-profile {
    display: flex;
    justify-content: space-between;
    gap: 1.4rem;
    text-align: center;
}
.c-habits-profile .c-habits-content img {
    width: 15.0rem;
    height: 15.0rem;
    border-radius: 50%;
}
.c-habits-content h3 {
    color: var(--primary-color);
    font-family: Inter;
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1.2rem;
}
.c-habits-content span {
    color: var(--secondary-color);
    font-family: Inter;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    letter-spacing: .03rem;
    text-align: center;
}
/* run extra section */
.run-extra {
    border-radius: 1.8rem;
    background: rgb(34,34,34);
    padding: 4rem 3rem;
}
.run-extra-content {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.run-extra-text h3 {
    color: var(--primary-color);
    font-family: Inter;
    font-size: 3.8rem;
    font-weight: 900;
    line-height: 120%;
    text-align: left;
}
.run-extra-text p {
    color: var(--secondary-color);
    font-family: Inter;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: .03rem;
    text-align: left;
    margin: 2rem 0;
}
.run-extra-text button {
    border-radius: 4.2rem;
    background: var(--tartiary-color);
    color: var(--primary-color);
    font-family: Inter;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.2rem;
    letter-spacing: 0rem;
    text-align: left;
    padding: 0.8rem 1.8rem;
    border: none;
}
.run-extra-img img {
    width: 32.6rem;
    height: 28.2rem;
}
/* training and exercises */
.train-exercise-text h3 {
    color: var(--primary-color);
    font-family: Inter;
    font-size: 4.8rem;
    font-weight: 900;
    line-height: 120%;
    text-align: left;
    margin: 1rem 0;
}
.train-exercise-text p {
    color: var(--secondary-color);
    font-family: Inter;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: 0.03rem;
    text-align: left;
    margin-bottom: 4rem;
}
.train-frist-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.train-second-row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.train-frist-row img,
.train-second-row img {
    width: 100%;
    height: 20rem;
    object-fit: cover;
    position: relative;
    z-index: 0;
}
.train-frist-row {
    position: relative;
}
.train-second-row {
    position: relative;
}
.train-frist-row .train-exercise-transform span,
.train-frist-row .train-exercise-achieve span,
.train-frist-row .train-exercise-health span {
    display: block;
    margin-top: 1rem;
    font-size: 1rem;
    position: relative;
    z-index: 2;
}
.train-exercise-transform::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 255, 209, 0.712);
    z-index: 1;
}
.train-exercise-achieve::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0.315);
    z-index: 1;
}
.train-exercise-health::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.507);
    z-index: 1;
}
.train-frist-row .train-exercise-transform span {
    position: absolute;
    top: 16rem;
    margin-left: 1.4rem;
}
.train-frist-row .train-exercise-achieve span {
    position: absolute;
    top: 2rem;
    margin-left: .8rem;
}
.train-frist-row .train-exercise-health span {
    position: absolute;
    top: 16rem;
    margin-left: 1.4rem;
}
.train-exercise-achieve {
    grid-column: span 2;
}
.train-exercise-customize {
    grid-column: span 2;
}
.train-second-row {
    position: relative;
}
.train-exercise-customize span {
    position: absolute;
    top: -18rem;
    left: 17rem;
}

.train-exercise-fitness span {
    position: absolute;
    top: -17rem;
    left: 4rem;
}
.train-exercise-strength span,
.train-exercise-customize span,
.train-exercise-fitness span {
    display: block;
    margin-top: 1rem;
    font-size: 1rem;
    position: relative;
    z-index: 2;
}
.train-exercise-strength span {
    position: absolute;
    top: 14rem;
    left: 62rem;
}


.train-exercise-customize::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.322);
        z-index: 1;
}
.train-exercise-strength::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(66, 255, 0, 0.35);
        z-index: 1;
}
.train-exercise-health::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 71, 255, 0.307);
        z-index: 1;
}
/* BMI calculator section */
.bmi-calculator {
    padding: 3.8rem 0;
}
.calculator-text h2 {
    color: var(--primary-color);
    font-family: Inter;
    font-size: 3.8rem;
    font-weight: 900;
    line-height: 120%;
    text-align: center;
    margin-bottom: 1.2rem;
}
.calculator-text p {
    color: var(--secondary-color);
    font-family: Inter;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: .03rem;
    text-align: center;
    margin-bottom: 1.2rem;
}
.caculator-form-section {
    width: 144.0rem;
    height: 38.7rem;
    background: rgb(34,34,34);
}
.caculator-form-section {
    padding: 4.4rem;
}
.caculator-form-section h3 { 
    color: var(--primary-color);
    font-family: Inter;
    font-size: 2.8rem;
    font-weight: 900;
    line-height: 120%;
    text-align: left;
    margin-bottom: 2rem;
}
.calculator-section {
    display: flex;
    justify-content: space-between;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid rgba(225,225,225,0.1);
}
th, td {
    padding: .8rem;
    text-align: center;
}
th {
    color: var(--primary-color);
    font-size: 1.6rem;
}
td {
    color: var(--secondary-color);
    font-size: 1.4rem;
}
.calculate-text h3 {
    color: var(--primary-color);
    font-family: Inter;
    font-size: 2.8rem;
    font-weight: 900;
    line-height: 120%;
    text-align: left;
    margin-bottom: 2rem;
}
.calculate-text p {
    color: var(--secondary-color);
    font-family: Inter;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: .03rem;
    text-align: left;
    margin-bottom: 1.2rem;
}
.c-form-input {
    display: flex;
    gap: 2rem;
    margin-bottom: 1.5rem;
}
.c-form-input div,
.c-form-input-full {
    flex: 1;
}
.c-form-input-full {
    margin-bottom: 1.5rem;
}
input[type="text"] {
    width: 100%;
    padding: 1.4rem;
    border: .1rem solid var(--secondary-color);
    border-radius: .4rem;
    font-size: 1rem;
}
.calculate-btn {
    border-radius: 4.2rem;
    background: var(--tartiary-color);
    border: none;
    padding: .8rem 1.6rem;
}
.team-text h2 {
    color: var(--primary-color);
    font-family: Inter;
    font-size: 3.8rem;
    font-weight: 900;
    line-height: 120%;
    text-align: center;
    margin-bottom: 1.2rem;
}  
.team-text p {
    color: var(--secondary-color);
    font-family: Inter;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: .03rem;
    text-align: center;
    margin-bottom: 1.2rem;
}
.team-img-section {
    background: rgba(225,225,225,0.1);
    padding: 1rem;
}
.team-img-frist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}
.team-img-second {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}
.team-img-frist img,
.team-img-second img {
    width: 100%;
    height: 25rem;
}
/* footer section */
.footer-section { 
    width: 144rem;
    height: 32.9rem;
    padding: 2rem 0;
    background: rgba(225, 225, 225, 0.1);
}
.footer-content {
    display: flex;
    justify-content: space-around;
}
.footer-content h2 {
    color: var(--tartiary-color);
    font-family: Inter;
    font-size: 3.8rem;
    font-weight: 900;
    line-height: 120%;
    text-align: start;
    margin-bottom: 1.2rem;
}
.footer-content p {
    color: var(--secondary-color);
    font-family: Inter;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: .03rem;
    text-align: start;
    margin-bottom: 2.2rem;
}
.footer-content h3 {
    color: var(--primary-color);
    font-family: Inter;
    font-size: 2.8rem;
    font-weight: 900;
    line-height: 120%;
    text-align: left;
    margin-bottom: 2rem;
}
.footer-menu ul li {
    list-style-type: none;
    padding: 1rem 0;
}
.footer-menu ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    font-family: Inter;
    font-size: 1.4rem;
    font-weight: 400;
}
.footer-reserve {
    margin: 3rem 0;
}
.footer-reserve hr {
    border: .2rem solid rgba(225,225,225,0.1);
    margin: 2rem 0;
}
.footer-reserve p {
    color: var(--secondary-color);
    font-family: Inter;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    letter-spacing: .03rem;
    text-align: center;
    margin-bottom: 2.2rem;
}






